#hidden {
    visibility: hidden;
}

#show {
    visibility: visible;
}

/* #high-scores-container {
    visibility: hidden;
  } */

.quiz-container {
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -130%);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 35px;
}

main button {
    display: block;
    margin-top: 10px;
    margin-left: 55px;
}

.assessment {
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -325%);
}

.start-button {
    margin-left: 105px;
}

.timer-count {
    font-size: 20px;
    color: red;
}